{{page-title this.model.abbName}}
{{breadcrumb
  this.model.abbName
  route="organizations.organization"
  model=this.model.id
}}

{{! TODO: Extend sidebar with all options, cf. administrative-unit.hbs }}
<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
      <ul class="au-c-list-navigation">
        <li class="au-c-list-navigation__item">
          <AuNavigationLink @route="organizations.organization.core-data">
            Kerngegevens
          </AuNavigationLink>
        </li>
        <li class="au-c-list-navigation__item">
          {{! TODO: Is the use of the custom component sitll necessary? }}
          <AuNavigationNestedLink @route="organizations.organization.sites">
            Vestigingen
          </AuNavigationNestedLink>
        </li>
        {{#if this.isWorshipOrganization}}
          <li class="au-c-list-navigation__item">
            <AuNavigationNestedLink
              @route="organizations.organization.local-involvements"
            >
              Betrokken lokale besturen
            </AuNavigationNestedLink>
          </li>
        {{/if}}
        {{#if this.requiresGoverningBodies}}
          <li class="au-c-list-navigation__item">
            <AuNavigationNestedLink
              @route="organizations.organization.governing-bodies"
            >
              Bestuursorganen
            </AuNavigationNestedLink>
          </li>
        {{/if}}
        {{#if (eq @model.constructor.modelName "worship-service")}}
          <li class="au-c-list-navigation__item">
            <AuNavigationNestedLink
              @route="organizations.organization.ministers"
            >
              Bedienaren
            </AuNavigationNestedLink>
          </li>
        {{/if}}
        {{#if this.requiresFunctionaries}}
          <li class="au-c-list-navigation__item">
            <AuNavigationNestedLink
              @route="organizations.organization.executives"
            >
              Leidinggevenden
            </AuNavigationNestedLink>
          </li>
        {{/if}}
        <li class="au-c-list-navigation__item">
          <AuNavigationLink
            @route="organizations.organization.related-organizations"
          >
            Gerelateerde organisaties
          </AuNavigationLink>
        </li>
      </ul>
    </div>
  </:sidebar>
  <:content>
    {{outlet}}
  </:content>
</SidebarContainer>