{{page-title this.model.abbName}}
{{breadcrumb
  this.model.abbName
  route="organizations.organization"
  model=this.model.id
}}

<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
      <ul class="au-c-list-navigation">
        <li class="au-c-list-navigation__item">
          <AuNavigationLink @route="organizations.organization.core-data">
            Kerngegevens
          </AuNavigationLink>
        </li>
        <li class="au-c-list-navigation__item">
          {{#unless @model.isRepresentativeBody}}
            <AuNavigationLink @route="organizations.organization.sites">
              Vestigingen
            </AuNavigationLink>
          {{/unless}}
        </li>
        {{#if @model.isWorshipAdministrativeUnit}}
          <li class="au-c-list-navigation__item">
            <AuNavigationLink
              @route="organizations.organization.local-involvements"
            >
              Betrokken lokale besturen
            </AuNavigationLink>
          </li>
        {{/if}}
        {{#if this.requiresGoverningBodies}}
          <li class="au-c-list-navigation__item">
            <AuNavigationLink
              @route="organizations.organization.governing-bodies"
            >
              Bestuursorganen
            </AuNavigationLink>
          </li>
        {{/if}}
        {{#if (eq @model.constructor.modelName "worship-service")}}
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @route="organizations.organization.ministers">
              Bedienaren
            </AuNavigationLink>
          </li>
        {{/if}}
        {{#if this.requiresFunctionaries}}
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @route="organizations.organization.executives">
              Leidinggevenden
            </AuNavigationLink>
          </li>
        {{/if}}
        {{#unless (or @model.isProvince @model.isRepresentativeBody)}}
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @route="organizations.organization.change-events">
              Veranderingsgebeurtenissen
            </AuNavigationLink>
          </li>
        {{/unless}}
        <li class="au-c-list-navigation__item">
          <AuNavigationLink
            @route="organizations.organization.related-organizations"
          >
            Gerelateerde organisaties
          </AuNavigationLink>
        </li>
      </ul>
    </div>
  </:sidebar>
  <:content>
    {{outlet}}
  </:content>
</SidebarContainer>