{{page-title this.model.representativeBody.name}}
{{breadcrumb
  this.model.representativeBody.name
  route="organizations.organization"
  model=this.model.representativeBody.id
}}

<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
      <ul class="au-c-list-navigation">
        <li class="au-c-list-navigation__item">
          <AuNavigationLink @route="organizations.organization.core-data">
            Kerngegevens
          </AuNavigationLink>
        </li>
        <li class="au-c-list-navigation__item">
          <AuNavigationLink @route="organizations.organization.related-organizations">
            Gerelateerde organisaties
          </AuNavigationLink>
        </li>
      </ul>
    </div>
  </:sidebar>
  <:content>
    {{outlet}}
  </:content>
</SidebarContainer>