{{page-title this.model.name}}
{{breadcrumb
  this.model.name
  route="organizations.organization"
  model=this.model.id
}}

<SidebarContainer>
  <:sidebar>
      <div class="au-d-component-block au-c-sidebar">
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @route="organizations.organization">
              Kerngegevens
            </AuNavigationLink>
          </li>
        </ul>
    </div>
  </:sidebar>
  <:content>
    {{outlet}}
  </:content>
</SidebarContainer>