{{!-- Partial Result Message --}}
<TableMessage>
    <p class="has-results">
        Als u de persoon die u zoekt niet vindt, kijk na op spelfouten of probeer een andere zoekopdracht. 
        Indien de persoon ontbreekt, 
        <a href="mailto:{{config "contactEmail"}}" class="au-c-link">
            + voeg een nieuwe persoon toe
        </a>.
    </p>
</TableMessage>