{{!-- No Result Message --}}
<TableMessage>
    <p class="au-u-margin-bottom-large">No result Er werden geen zoekresultaten gevonden. Kijk na op spelfouten, probeer een andere zoekopdracht of voeg een nieuwe persoon toe!</p>
    <AuLink
        @route="people.new"
        @query={{hash redirectUrl=@personCreationRedirectUrl}}
        class="au-c-button au-c-button--secondary"
    >
        + Voeg een nieuwe persoon toe!
    </AuLink>
</TableMessage>