{{!-- Partial Result Message --}}
<TableMessage>
    <p>
        Als u de persoon die u zoekt niet vindt, kijk na op spelfouten of probeer een andere zoekopdracht. Indien de persoon ontbreekt, voeg een nieuwe persoon toe
        <a href="mailto:{{config "contactEmail"}}" class="au-c-link">
            + {{config "contactEmail"}}
        </a>.
    </p>
</TableMessage>