/* fix the table for the sparql querier */

table.dataTable tbody td,
table.dataTable tbody th {
	min-width: 2rem;
}

.yasgui .controlbar {
	justify-content: flex-end;
	margin-bottom: 1rem;
}

.yasgui .autocompleteWrapper {
  display: none !important;
}

.CodeMirror {
    max-height: 500px  !important;
}

.person-search-results {
  // Hide the pagination until we can make it work without 2-way-binding
  // https://github.com/mu-semtech/ember-data-table/issues/27
  .au-c-data-table__actions--bottom {
    display: none;
  }
}

// Data table fixes > @TODO: port to ember-appuniversum
.au-c-data-table__table.au-c-data-table__table--small {
  th:first-child,
  td:first-child {
    padding-left: $au-unit;
  }
}

.au-c-data-table__header {
  th {
    box-shadow: inset 0 -.2rem 0 0 $au-gray-300;
  }
}

// Keep pills on one line in the table
.au-c-data-table .au-c-pill {
  white-space: nowrap;
}

// Inline list for radio buttons
.au-c-list-inline {
  display: flex;
  flex-direction: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-top: $au-unit-tiny;
  margin-bottom: $au-unit-tiny;
}

.au-c-list--styled {
  padding-left: 1em;
  &.au-c-list--styled__disc {
    list-style-type: disc;
  }
}

.au-c-list-inline__item {
  display: flex;
  align-items: center;

  & + & {
    margin-left: $au-unit;
  }
}

// Tweak breadcrumb list: improve responsive behaviour
.au-c-list-horizontal--breadcrumbs {
  @include au-font-size($au-base);

  @include mq($until:small) {
    .au-c-list-horizontal__item {
      display: none;
    }

    .au-c-list-horizontal__item:first-child {
      display: block;
    }
  }
}

// Fix alignment issue on data tables containing input fields
.au-c-data-table__table td {
  vertical-align: top;
}

// Button group alignment fix
.au-c-button-group {
  display: flex;
  align-items: center;
}

// Hide outline for legal pages content focus fix
.au-c-content {
  &:focus {
    outline: 0;
  }
}

// Fix index page card button group
.au-c-button-group--wrap {
  flex-wrap: wrap;
}

// Tailwind based util to align table contents
.align-middle {
  vertical-align: middle !important;
}

// Make sure the help text doesn't inherit the font weight of the parent
.au-c-help-text:not(.au-c-help-text--error) {
  font-weight: 400;
}

// Allow buttons to be aligned on the right side
// Reverse Button Order :: OP-1757
.au-c-button-group--align-right {
  @include mq($from:xsmall) {
    justify-content: flex-end;
  }
}

// Tailwind naming based utils
.flex {
  display: flex !important;
}

.grow {
  flex-grow: 1 !important;
}

.shrink-0 {
  flex-shrink: 0 !important;
}

.items-center {
  align-items: center !important;
}
.au-c-modal--large {
  max-width: calc(100% - 9.6rem);
  max-height: calc(100% - 9.6rem);
  width: calc(65% - 9.6rem);
  height: calc(85% - 9.6rem);
  left: 1.2rem;
}

// Custom ember power select component with pre-filled text in search

$ember-power-select-border-color: #ccc !default;
$ember-power-select-focus-border-color: #66afe9 !default;
$ember-power-select-default-border: 1px solid $ember-power-select-border-color !default;
$ember-power-select-search-field-border: $ember-power-select-default-border !default;
$ember-power-select-search-input-border-radius: 3px !default;
$ember-power-select-default-focus-border: 1px solid $ember-power-select-focus-border-color !default;
$ember-power-select-search-field-focus-border: $ember-power-select-default-focus-border !default;
$ember-power-select-focus-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) !default;
$ember-power-select-focus-outline: solid 2px rgb(16, 108, 200) !default;

.ember-power-select-movable-cursor {
  border: $ember-power-select-search-field-border;
  border-radius: $ember-power-select-search-input-border-radius;
  width: 100%;
  font-size: inherit;
  line-height: inherit;
  padding: 0 5px;
  &:focus {
    border: $ember-power-select-search-field-focus-border;
    box-shadow: $ember-power-select-focus-box-shadow;
    @if $ember-power-select-focus-outline {
      outline: $ember-power-select-focus-outline;
    }
  }
}

.au-u-background-gray-100 {
  background-color: $au-gray-100 !important;
}

.td-center {
  vertical-align: middle;
  text-align: center;
}

.tr-top td {
  vertical-align: top !important;
}

.au-c-body-container {
  header {
    .au-c-toolbar {
      .au-c-toolbar__group {
        &:first-of-type {
          max-width: calc(100% - 100px)
        }
      }
    }
  }
}

/* 
> HotFix 21.12.2022
> container-height must be changed, 
> for when announcement banner is active
*/

.au-c-env-announcement {   
  @media (min-width: 63.9375em) {
    height: 97px;
    + .au-c-main-container {
      height: calc(100vh - 97px);
      .au-c-sidebar-container__content {
        height: calc(100% - 40px);
      }
    }
  }
}