/* fix the table for the sparql querier */

table.dataTable tbody td,
table.dataTable tbody th {
	min-width: 2rem;
}

.yasgui .controlbar {
	justify-content: flex-end;
	margin-bottom: 1rem;
}

.yasgui .autocompleteWrapper {
  display: none !important;
}

.CodeMirror {
    max-height: 500px  !important;
}

.person-search-results {
  // Hide the pagination until we can make it work without 2-way-binding
  // https://github.com/mu-semtech/ember-data-table/issues/27
  .au-c-data-table__actions--bottom {
    display: none;
  }
}
