
/* ==================================
   #APPUNIVERSUM
   ================================== */
/**
 * A design universe for Flanders GOV applications
 */

/**
 * CONTENTS
 * ---
 * SETTINGS: Project settings and variables
 * TOOLS: Mixins
 * GENERIC: Reset, global box-sizing and font-styles
 * ELEMENTS: Plain html tag styling
 * OBJECTS: OOCSS unstyled objects (namespace: '.au-o-...')
 * COMPONENTS: Components (namespace: '.au-c-...')
 * UTILITIES: Single function helper classes (namespace: '.au-u-...')
 */


// VARIABLES

@import "ember-appuniversum/s-colors.scss";
@import "ember-appuniversum/s-global";
@import "ember-appuniversum/s-utilities";
@import "ember-appuniversum/s-root";

// MIXINS
@import "ember-appuniversum/t-font-size";
@import "ember-appuniversum/t-sass-mq";


// GENERIC
@import "ember-appuniversum/g-reset";
@import "ember-appuniversum/g-box-sizing";
@import "ember-appuniversum/g-font";


// ELEMENTS
@import "ember-appuniversum/e-page";


// OBJECTS
@import "ember-appuniversum/o-box";
@import "ember-appuniversum/o-flow";
@import "ember-appuniversum/o-grid";
@import "ember-appuniversum/o-layout";
@import "ember-appuniversum/o-region";


// COMPONENTS
@import "ember-appuniversum/c-accordion";
@import "ember-appuniversum/c-alert";
@import "ember-appuniversum/c-app";
@import "ember-appuniversum/c-badge";
@import "ember-appuniversum/c-body-container";
@import "ember-appuniversum/c-brand";
@import "ember-appuniversum/c-button";
@import "ember-appuniversum/c-button-group";
@import "ember-appuniversum/c-card";
@import "ember-appuniversum/c-content";
@import "ember-appuniversum/c-content-header";
@import "ember-appuniversum/c-control";
@import "ember-appuniversum/c-data-table";
@import "ember-appuniversum/c-dropdown";
@import "ember-appuniversum/c-file-upload";
@import "ember-appuniversum/c-form";
@import "ember-appuniversum/c-heading";
@import "ember-appuniversum/c-help-text";
@import "ember-appuniversum/c-hr";
@import "ember-appuniversum/c-icon";
@import "ember-appuniversum/c-input";
@import "ember-appuniversum/c-label";
@import "ember-appuniversum/c-link";
@import "ember-appuniversum/c-list-horizontal";
@import "ember-appuniversum/c-list-navigation";
@import "ember-appuniversum/c-loader";
@import "ember-appuniversum/c-pagination";
@import "ember-appuniversum/c-pill";
@import "ember-appuniversum/c-main-container";
@import "ember-appuniversum/c-main-header";
@import "ember-appuniversum/c-main-footer";
@import "ember-appuniversum/c-modal";
@import "ember-appuniversum/c-sidebar";
@import "ember-appuniversum/c-sidebar-action";
@import "ember-appuniversum/c-table";
@import "ember-appuniversum/c-textarea";
@import "ember-appuniversum/c-timepicker";
@import "ember-appuniversum/c-toolbar";
@import "ember-appuniversum/c-toggle-switch";
@import "components/cards";
@import "components/sidebar-container";
@import "components/table-message";
@import "components/c-rich-text-editor";

// PLUGINS
@import "ember-appuniversum/p-ember-power-select";
@import "ember-appuniversum/p-duet-datepicker";


// UTILITIES
@import "ember-appuniversum/u-align-text";
@import "ember-appuniversum/u-background";
@import "ember-appuniversum/u-break-word";
@import "ember-appuniversum/u-flex";
@import "ember-appuniversum/u-headings";
@import "ember-appuniversum/u-hide";
@import "ember-appuniversum/u-font-family";
@import "ember-appuniversum/u-font-weights";
@import "ember-appuniversum/u-max-widths";
@import "ember-appuniversum/u-paragraphs";
@import "ember-appuniversum/u-print";
@import "ember-appuniversum/u-responsive-spacings";
@import "ember-appuniversum/u-spacings";
@import "ember-appuniversum/u-visible";
@import "ember-appuniversum/u-widths";

// ember-rdfa-editor styles
// TODO: `@import "ember-rdfa-editor";` imports annotation styles which are _huge_ when compiled
// so we only import the base component styles for now.
@import "ember-rdfa-editor/c-container";
@import "ember-rdfa-editor/c-dropdown";
@import "ember-rdfa-editor/c-content";
@import "ember-rdfa-editor/c-editor";
@import "ember-rdfa-editor/c-editor-hints";
@import "ember-rdfa-editor/c-icon";
@import "ember-rdfa-editor/c-toast";
@import "ember-rdfa-editor/c-toolbar";
@import "ember-rdfa-editor/c-table";
@import "ember-rdfa-editor/c-ember-node";
@import "ember-rdfa-editor/shame";

// TEMPORARY HACKS AND QUICKFIXES
@import 'shame';
