<div class="edit-card au-u-max-width-large" ...attributes>
  {{#if (has-block "title")}}
    <div class="card-title">
      <AuHeading @level={{or @headingLevel "3"}} @skin={{or @headingSkin "5"}}>
        {{yield to="title"}}
      </AuHeading>
    </div>
  {{/if}}

  <div class="edit-card__card">
    {{yield
      (hash
        Grid=(component "card-grid" itemComponent=(component "edit-card/item" isGrid=true))
        Columns=(component "card-columns" itemComponent=(component "edit-card/item"))
      )
      to="card"
    }}
  </div>
</div>