<tbody class="table-message">
  <tr class="table-message__row">
    <td colspan="100%">
      <div class="au-o-layout au-u-margin-bottom-huge au-u-margin-top-huge au-u-text-center">
        {{yield}}
      </div>
    </td>
  </tr>
</tbody>