.card-title {
  margin-bottom: $au-unit-tiny;
}

// grid
.card-grid {
  margin: -$au-unit-small -#{$au-unit};
  min-height: $au-unit-small; // Fix for empty grids

  @include mq(large) {
    display: flex;
    flex-wrap: wrap;
  }
}

.card-grid-item {
  padding: $au-unit-small $au-unit;

  @include mq(large) {
    width: 50%;
  }
}

// columns
.card-columns {
  margin: -$au-unit-small -#{$au-unit};

  @include mq(medium) {
    display: flex;
  }
}

.card-columns__column {
  padding: $au-unit-small $au-unit;

  @include mq(medium) {
    width: 50%;
  }
}


// card item
.card-item {

  display: flex;

  .edit-card__card & {
    align-items: center;
  }

  .card-columns & + & {
    margin-top: $au-unit-small;
  }

  @include mq($until: small) {
    flex-direction: column;
  }
}

.card-item--align-top {
  align-items: flex-start;
}

.card-item__label {
  width: 100%;

  @include mq(small) {
    flex-basis: 20rem; // This has to be wide enough to fit all labels properly
    flex-shrink: 0;
  }
}

.card-item__content {
  width: 100%;

  @include mq(small) {
    flex-shrink: 1;
    flex-grow: 1;
  }
}

// read-only card
.data-card__card {
  background-color: $au-gray-100;
  padding: $au-unit-small;
  border-radius: .3rem;
}

.data-card-item__label {
  font-weight: 500;
  color: $au-gray-600;
}

// editable card
.edit-card__card {
  background-color: $au-white;
  border: .1rem solid $au-gray-300  ;
  padding: $au-unit-small;
  border-radius: .3rem;
}

.edit-card-item__label {
  margin-bottom: 0;
  margin-right: $au-unit-small;
}
