.au-c-code-inline,
.au-c-code-block {
  font-family: monospace;
  font-size: 85%;
  color: var(--vl-grey-100);
  background-color: var(--vl-grey-05);
  border-color: var(--vl-grey-50);
  border: .1rem solid var(--vl-grey-50);
  padding: .2rem .6rem;
  border-radius: var(--au-radius);
}

.au-c-code-inline {
  line-height: 150%;
}

.au-c-code-block {
  display: block;
  margin-top: $au-unit-tiny;
}
