/* ==================================
   #ENVIRONMENT BAR
   ================================== */

/* Variables
   ========================================================================== */

$au-environment-local-color : #e86ab9;
$au-environment-dev-color   : #4CAF50;
$au-environment-test-color  : #FFF176;


/* Component
   ========================================================================== */

.au-c-app--environment {
  position: relative;
  .au-c-environment {
    position: fixed;
    height: 5.75rem;
    top: 0;
    left: 0;
    z-index: 3;
  }
  header {
    position: fixed;
    width: 100%;
    height: 4.25rem;
    top: 5.75rem;
    left: 0;
  }
  #main {
    margin-top: 10rem;
  }
}

.au-c-environment {
  span {
    display: inline-block;
  }
  strong {
    text-transform: lowercase;
  }
}

.au-c-environment--local {
  background-color: $au-environment-local-color;
  border-color: darken($au-environment-local-color, 7%);
  color: $au-white;
}

.au-c-environment--dev {
  background-color: $au-environment-dev-color;
  border-color: darken($au-environment-dev-color, 7%);
  color: $au-white;
}

.au-c-environment--qa {
  background-color: $au-environment-test-color;
  border-color: darken($au-environment-test-color, 30%);
  color: $au-gray-1000;
}
