/* ==================================
   #ENVIRONMENT BANNER
   ================================== */

/* Variables
   ========================================================================== */

$au-environment-dev-color : #4CAF50; //#e86ab9;
$au-environment-test-color  : #FFF176;
$au-env-element-height: 4rem;

%full-fixed-to-left {
  position: fixed; 
  left: 0; 
  width: 100%;
}

/* Component
   ========================================================================== */

.au-c-app--environment {
  position: relative;
  overflow-y: auto;
  .au-c-alert {
    @extend %full-fixed-to-left;
    height: calc(3.5 * $au-env-element-height);
    top: 0;
    z-index: 3;
    a {
      font: inherit;
      color: inherit;
    }
  }
  header {
    @extend %full-fixed-to-left;
    height: $au-env-element-height;
    top: calc(3.5 * $au-env-element-height);
    .au-c-brand__logo, .au-c-brand__logotype {
      max-height: $au-env-element-height !important;
    }
  }
  #main {
    margin-top: calc(4.5 * $au-env-element-height);
  }
  @media (min-width: 576px) {
    .au-c-alert {
      height: calc(2.5 * $au-env-element-height);
    }
    header {
      top: calc(2.5 * $au-env-element-height);
    }
    #main {
      margin-top: calc(3.5 * $au-env-element-height);
    }
  }
  @media (min-width: 992px) {
    .au-c-alert {
      height: calc(1.5 * $au-env-element-height);
      .au-c-alert__message {
        div {
          flex-direction: row !important;
        }
      }
    }
    header {
      top: calc(1.5 * $au-env-element-height);
    }
    #main {
      margin-top: calc(2.5 * $au-env-element-height);
    }
  }
}

.au-c-environment--development > .au-c-alert--warning {
  background-color: $au-environment-dev-color;
  border-color: darken($au-environment-dev-color, 7%);
  color: $au-white;
}

.au-c-environment--test > .au-c-alert--warning {
  background-color: $au-environment-test-color;
  border-color: darken($au-environment-test-color, 30%);
  color: $au-gray-1000;
}