// appuniversum has a main container pattern which includes a sidebar
// but that implementation can't be used in subsections of the app.
// This is a custom implementation based on that which can be used that way.
// Tracking issue: https://github.com/appuniversum/ember-appuniversum/issues/86

.au-c-sidebar-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow: hidden;
}

.au-c-sidebar-container__sidebar {
  flex-basis: 100%;

  @include mq(medium) {
    height: 100%;
    flex-basis: 25rem;
    flex-shrink: 0;
  }
}

.au-c-sidebar-container__content {
  flex-basis: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @include mq(medium) {
    height: 100%;
    flex-basis: 0;
    flex-grow: 1;
  }
}
