{{page-title this.model.name}}
{{breadcrumb
  this.model.name
  route="administrative-units.administrative-unit"
  model=this.model.id
}}

<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
      <ul class="au-c-list-navigation">
        <li class="au-c-list-navigation__item">
          <AuNavigationLink
            @route="administrative-units.administrative-unit.core-data"
          >
            Kerngegevens
          </AuNavigationLink>
        </li>
        <li class="au-c-list-navigation__item">
          <AuNavigationLink
            @route="administrative-units.administrative-unit.sites"
          >
            Vestigingen
          </AuNavigationLink>
        </li>
        {{#if (not-eq @model.constructor.modelName "central-worship-service")}}
          <li class="au-c-list-navigation__item">
            <AuNavigationLink>
              Betrokken lokale besturen
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink>
              Verbonden Juridische structuren
            </AuNavigationLink>
          </li>
        {{/if}}
        <li class="au-c-list-navigation__item">
          <AuNavigationLink
            @route="administrative-units.administrative-unit.governing-bodies"
          >
            Bestuursorganen
          </AuNavigationLink>
        </li>
        {{#if (eq @model.constructor.modelName "worship-service")}}
          <li class="au-c-list-navigation__item">
            <AuNavigationLink
              @route="administrative-units.administrative-unit.ministers"
            >
              Bedienaren
            </AuNavigationLink>
          </li>
        {{/if}}
        {{#if (not-eq @model.constructor.modelName "central-worship-service")}}
          <li class="au-c-list-navigation__item">
            <AuNavigationLink>
              Veranderingsgebeurtenissen
            </AuNavigationLink>
          </li>
        {{/if}}
        <li class="au-c-list-navigation__item">
          <AuNavigationLink>
            Documenten
          </AuNavigationLink>
        </li>
        <li class="au-c-list-navigation__item">
          <AuNavigationLink>
            Dossiers
          </AuNavigationLink>
        </li>
      </ul>
    </div>
  </:sidebar>
  <:content>
    {{outlet}}
  </:content>
</SidebarContainer>