{{page-title this.model.name}}
{{breadcrumb
  this.model.name
  route="administrative-units.administrative-unit"
  model=this.model.id
}}

<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
      <ul class="au-c-list-navigation">
        <li class="au-c-list-navigation__item">
          <AuNavigationNestedLink
            @route="administrative-units.administrative-unit.core-data"
          >
            Kerngegevens
          </AuNavigationNestedLink>
        </li>
        <li class="au-c-list-navigation__item">
          <AuNavigationNestedLink
            @route="administrative-units.administrative-unit.sites"
          >
            Vestigingen
          </AuNavigationNestedLink>
        </li>
        {{#if this.isWorshipAdministrativeUnit}}
          <li class="au-c-list-navigation__item">
            <AuNavigationNestedLink @route="administrative-units.administrative-unit.local-involvements">
              Betrokken lokale besturen
            </AuNavigationNestedLink>
          </li>
        {{/if}}
        {{#if (and (not this.isAgbOrApb) (not this.isIgs) (not this.isPoliceZone) (not this.isAssistanceZone))}}
        <li class="au-c-list-navigation__item">
          <AuNavigationNestedLink
            @route="administrative-units.administrative-unit.governing-bodies"
          >
            Bestuursorganen
          </AuNavigationNestedLink>
        </li>
        {{/if}}
        {{#if (eq @model.constructor.modelName "worship-service")}}
          <li class="au-c-list-navigation__item">
            <AuNavigationNestedLink
              @route="administrative-units.administrative-unit.ministers"
            >
              Bedienaren
            </AuNavigationNestedLink>
          </li>
        {{/if}}
        {{#if (not (or this.isDistrict this.isWorshipAdministrativeUnit))}}
          <li class="au-c-list-navigation__item">
            <AuNavigationNestedLink
              @route="administrative-units.administrative-unit.executives"
            >
              Leidinggevenden
            </AuNavigationNestedLink>
          </li>
        {{/if}}
        {{#unless this.isProvince}}
          <li class="au-c-list-navigation__item">
            <AuNavigationNestedLink
              @route="administrative-units.administrative-unit.change-events"
            >
              Veranderingsgebeurtenissen
            </AuNavigationNestedLink>
          </li>
        {{/unless}}
        {{!--         Links temporarily hidden until page is completed
        <li class="au-c-list-navigation__item">
          <AuNavigationNestedLink>
            Documenten
          </AuNavigationNestedLink>
        </li>
        <li class="au-c-list-navigation__item">
          <AuNavigationNestedLink>
            Dossiers
          </AuNavigationNestedLink>
        </li> --}}
        <li class="au-c-list-navigation__item">
          <AuNavigationNestedLink
            @route="administrative-units.administrative-unit.related-organizations"
          >
            Gerelateerde organisaties
          </AuNavigationNestedLink>
        </li>
      </ul>
    </div>
  </:sidebar>
  <:content>
    {{outlet}}
  </:content>
</SidebarContainer>