<BreadcrumbsItem as |linkClass|>
    <LinkTo @route="administrative-units.index" class={{linkClass}}>
        Besturen
    </LinkTo>
</BreadcrumbsItem>

<div>
    <NavigationBar />
    {{outlet}}
</div>