{{page-title "ContactHub"}}

<AuMainHeader
  @brandLink="https://www.vlaanderen.be/nl"
  @homeRoute="index"
  @appTitle="Organisatieportaal"
  @contactRoute="index"
>
  <AuDropdown
    @dropdownTitle="Voornaam"
    @dropdownButtonLabel="Account settings"
    @alignment="right"
  >
    <AuButton @skin="tertiary" role="menuitem">
      <AuIcon @icon="logout" @alignment="left" />Afmelden
    </AuButton>
  </AuDropdown>
</AuMainHeader>

<main id="main" class="au-c-main-container">
  <div
    class="au-c-main-container__content au-c-main-container__content--scroll"
    id="content"
  >
    <div>{{outlet}}</div>
  </div>
</main>