<AuMainHeader @brandLink="https://www.vlaanderen.be/nl" @homeRoute="sparql" @appTitle="Contact Hub">
</AuMainHeader>

<main id="main" class="au-c-main-container">
    <div class="au-c-main-container__content au-c-main-container__content--scroll" id="content">
        <div>{{outlet}}</div>
    </div>
</main>