{{page-title (config "appName")}}

<AuMainHeader
  @brandLink="https://www.vlaanderen.be/nl"
  @homeRoute="index"
  @appTitle={{config "appName"}}
  @contactRoute="contact"
>
  <AuDropdown
    @dropdownTitle="Voornaam"
    @dropdownButtonLabel="Account settings"
    @alignment="right"
  >
    <AuButton @skin="tertiary" role="menuitem">
      <AuIcon @icon="logout" @alignment="left" />Afmelden
    </AuButton>
  </AuDropdown>
</AuMainHeader>

<main id="main" class="au-c-main-container">
  <div
    class="au-c-main-container__content"
    id="content"
  >
    {{outlet}}
  </div>
</main>