{{page-title (config "appName")}}

<AppHeader />

<main id="main" class="au-c-main-container">
  <div
    class="au-c-main-container__content"
    id="content"
    tabindex="-1"
  >
    {{outlet}}
  </div>
</main>