<BreadcrumbsItem as |linkClass|>
    <LinkTo @route="bestuurseenheden.index" class={{linkClass}}>
        Besturen
    </LinkTo>
</BreadcrumbsItem>

<div class="au-c-body-container au-c-body-container--scroll">
    <NavigationBar />
    {{outlet}}
</div>