<BreadcrumbsItem as |linkClass|>
    <LinkTo @route="people.index" class={{linkClass}}>
        Personen
    </LinkTo>
</BreadcrumbsItem>

<div class="au-c-body-container au-c-body-container--scroll">
    <NavigationBar />
    {{outlet}}
</div>