<div class="au-o-layout au-o-layout--large">
    <div class="au-o-region-large">
        <AuHeading @level="1" @skin="1" class="au-u-margin-bottom">Contact Hub: SPARQL</AuHeading>
        {{#if this.fastboot.isFastBoot}}
        <AuHeading @level="2" @skin="4">Aan het laden </AuHeading>
        <AuLoader />
        {{else}}

        <div {{yasgui}}></div>
        {{!--
        <AuHr /> --}}
        {{outlet}}
        {{/if}}
    </div>
</div>