<StaticPage>
  {{page-title "Sparql"}}
  <div class="au-c-body-container au-c-body-container--scroll">
    <div class="au-o-region-large">
      <div class="au-o-layout">
        <div {{yasgui}}></div>
      </div>
    </div>
  </div>
</StaticPage>