{{page-title "Sparql"}}
<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-region-large">
    <div class="au-o-layout">
      <AuContent @skin="large">
        <div {{yasgui}}></div>
      </AuContent>
    </div>
  </div>
</div>